:root {
    --black: #000000;
    --dark-blue: #14213d;
    --orange: #fca311;
    --light-gray: #e5e5e5;
    --white: #ffffff;
  }
  
  .footer {
    background-color: var(--black);
    color: var(--white);
    padding: 20px;
    text-align: center;
  }
  
  .footer p {
    margin: 0;
    font-size: 16px;
  }
  